@import '../theme', '../animations';

/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
@media (min-height: 150px) {
    .icon-bar {
        display: flex;
        flex-direction: column;
    }
}
@media (max-height: 149px) {
    .icon-bar {
        display: none;
    }
}
.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;

  }
  
  /* Style the icon bar links */
  .icon-bar a {
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: all 0.3s ease;
    scale: 1;
    @include themed() {
        color: t('text');
        background-color: transparent;
    }
    span p{
        visibility: hidden;
        text-decoration: none;
    }
    &:hover {
        opacity: .8;
        @include themed() {
            color: t('highlight-color');
            scale: 1.5;
            text-decoration-color: t('highlight-color');
        }
    }
  }
  @media (min-width: 1200px ){
    .icon-bar a {
        padding: 4vh;
        font-size: 24px;
    }

  }
  @media ( min-width: 769px) and ( max-width: 1199px){
    .icon-bar a {
        padding: 4vh;
        font-size: 18px;
    }

  }
  @media ( max-width: 768px ){
    .icon-bar a {
        padding: 10px 10px 10px 10px;
        font-size: 12px;
    }
}