@import '../theme', '../animations';

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    text-align: center;
    margin-top: $spacing-3;
    h1 {
        margin-bottom: $spacing-3;
    }
}

.contact-card {
    @include themed() {
        background-color: t('bg');
        box-shadow: t('shadow');
    }
    h2, p {
        padding: $spacing-1;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $spacing-3;
    width: 90%;
    margin-inline: $spacing-3;
}

.divider {
    display: flex;
}
.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.lets-talk {
    display: flex;
    flex-direction: column !important;
    align-items: center;
    align-self: flex-start;
    max-width: 100%;
    .icons-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .lets-talk-icon-container {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: $spacing-2;
        font-weight: 600;
        a {
            @include themed() {
                color: t('text');
            }
            opacity: 1;
            transition: all 0.3s ease;
           .lets-talk-icon {
                font-size: $font-size-2;
                padding: $spacing-1;
                margin: $spacing-1;
            }
            &:hover {
                opacity: .8;
                @include themed() {
                    color: t('highlight-color');
                    scale: 1.5;
                    text-decoration-color: t('highlight-color');
                }
            }
        }
        
    }
}

@media (min-width: 769px ) {
    .cv-buttons-container {
        flex-direction: row;
    }
    .lets-talk {
        flex-direction: row;
    }
    .divider {
        flex-direction: row;
    }
}

@media (max-width: 768px ) {
    .cv-buttons-container {
        flex-direction: column;
    }
    .lets-talk {
        flex-direction: column;
        margin-top: $spacing-3;
    }
    .divider {
        flex-direction: column;
    }
}