@import '../theme', '../animations';

.Projects {
    padding: $spacing-2;
    h1, h2, h3, p {
        align-self: center;
        text-align: center;
        margin-top: $spacing-1;
    }
    p {
        padding: $spacing-2;
    }
    
}
.projects-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}