@import './theme';


.App {
  @include themed() {
    color: t('text');
    background-color: t('bg');
  }
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
main {
  @media (min-width: 1249px) {
    padding-top: 5%;
  }
  padding-top: 7%;
  display: flex;
  flex-direction: column;
  
}